<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr>
    <td><input type="text" th:value="${cardnumbers}" disabled/></td>
    <td><input type="text" th:value="${cardmoney}" disabled/>
    <td><input type="text" th:value="${cardcurrency}" disabled/>
    <td><input type="text" th:value="${carddateexpired}" disabled/>
    <td><input type="text" th:value="${carduser}" disabled/>
</tr>
<form th:action="@{/moneyreplenishment}" method="post">
    <label>Money replenishment</label>
    <input type="hidden" name="cardidname" th:value="${cardid}"/>
    <input type="text" name="moneyreplenishment"/>
    <select class="currency" name="bankcurrency">
        <option th:each="bankCurrency : ${T(bank.models.Currency).values()}"
                th:value="${bankCurrency}" th:text="${bankCurrency}"></option>
    </select>
    <button type="submit">Card replenishment</button>
</form>
<form th:action="@{/banktransaction}" method="post">
    <input type="hidden" name="usercardid" th:value="${cardid}"/>
    <input type="text" name="cardnumber"/>
    <input type="submit"/>
</form>
<form th:action="@{/logout}" method="post">
    <button name="button" type="submit">Sign Out</button>
</form>
</body>
</html>