<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Table</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Thymeleaf - Bootstrap Table</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<form th:action="@{/maxsum}" method="post">
    <select name="periods">
        <option th:each="periods : ${T(bank.models.Periods).values()}"
                th:value="${periods}" th:text="${periods}"></option>
    </select>
    <button type="submit">Ok</button>
</form>

<form th:action="@{/middle}" method="post">
    <select name="periods">
        <option th:each="periods : ${T(bank.models.Periods).values()}"
                th:value="${periods}" th:text="${periods}"></option>
    </select>
    <select name="cards">
        <option th:each="cardlist : ${cardList}"
                th:value="${cardlist}" th:text="${cardlist}"></option>
    </select>
    <button type="submit">Ok</button>
</form>

<form th:action="@{/spendingPerDay}" method="post">
    <input type="date" name="day"/>
    <input type="time" name="timeFrom"/>
    <input type="time" name="timeTo"/>
    <button type="submit">Ok</button>
</form>

<form th:action="@{/graphics}" method="get">
    <button type="submit">Spend to Treat Graphic</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="example" class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>Card Numbers To</th>
                    <th>Money</th>
                    <th>Currency</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="operation : ${operationList}">
                    <td th:text="${operation.getCardNumberTo()}">Card Numbers To Card</td>
                    <td th:text="${operation.getOperationSum()}">Money</td>
                    <td th:text="${operation.getCurrency()}">Currency</td>
                    <td th:text="${operation.getOperationDate()}">Date</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<form th:action="@{/logout}" method="post">
    <button name="button" type="submit">Sign Out</button>
</form>
</body>
</html>